.blocker-block {
  /* Positioning for children */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Specify initial position and dimensions */
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  height: 300px;
  width: 300px;

  /* Set color to inherit from container */
  background-color: inherit;

  /* Make it resizable */
  resize: both;
  overflow: auto;
}

.blocker-block:hover * {
  display: block;
}

.blocker-block:hover {
  outline: 1px solid black;
}

.invisible {
  display: none;
}

.blockContainer {
  /* Position */
  top: 0;
  position: fixed;
  z-index: 1000000000;

  /* Inherit background color so blocks can also inherit */
  background-color: inherit;
}

button {
  display: none;
}
